@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    overflow: hidden;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: fixed;
    z-index: 0;
}

#bg > .item {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    opacity: 0;
    transition-duration: 3750ms;
    transition-property: opacity;
    transition-timing-function: ease;
    position: absolute;
}

#bg > .item.--visible {
    opacity: 1;
}

#clock {
    font-size: 4rem;
    font-family: "Agacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    line-height: 1;
    position: relative;
    user-select: none;
    z-index: 1;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

#clock > .time {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.125rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
}

#clock > .time > .colon {
    animation-name: anim-clock-time-colon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#clock > .date {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
}

@keyframes anim-clock-time-colon {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#searchForm {
    position: relative;
    z-index: 1;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
    margin: 1rem;
}

#searchForm > .label > .field {
    height: 2rem;
    background-color: #ffffff;
    border: none;
    border-radius: 999rem;
    box-sizing: border-box;
    color: #212121;
    font: inherit;
    outline: none;
    padding: 0.25rem 1rem;
}

#searchForm > .label > .field[name="keyword"] {
    width: 20rem;
}

#searchForm > .submit {
    height: 2rem;
    aspect-ratio: 1/1;
    background-color: #42a5f5;
    border:none;
    border-radius: 999rem;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    user-select: none;
}

#searchForm > .submit:hover {
    background-color: #2196f3;
}

#searchForm > .submit:active {
    background-color: #1e88e5;
}

body > .tile-container {
    z-index: 1;
}
